<h4>Pin Code Report</h4>

<form>
  <mat-form-field>
    <input matInput #codeToSearch placeholder="Pin Code">
  </mat-form-field>
</form>

<button mat-raised-button (click)="getByPinCode(codeToSearch.value)">Generate Report</button>

<mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="clid">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Clid </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.clid}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="src">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Src </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.src}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="destination">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Destination </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.destination}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="duration">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Duration </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.duration}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="cost">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Cost </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.cost}} </mat-cell>
  </ng-container>



  <!--<ng-container matColumnDef="id">-->
  <!--<mat-header-cell *matHeaderCellDef> International </mat-header-cell>-->
  <!--<mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>-->
  <!--</ng-container>-->

  <!--<ng-container matColumnDef="total">-->
  <!--<th mat-header-cell *matHeaderCellDef> Total </th>-->
  <!--<td mat-cell *matCellDef="let element"> {{element.total}} </td>-->
  <!--</ng-container>-->

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let element; columns: displayedColumns;"></mat-row>
</mat-table>