<div *ngIf="option === ''">
  <mat-card style="width: 20%">
    <p style="margin-left: 17%">What would you like to do?</p>
    <div style="width: 63%; margin-left: 17%">
      <button mat-raised-button (click)="option = 'setup'">Setup</button>
      <button mat-raised-button (click)="option = 'report'">Reports</button>
    </div>
  </mat-card>
</div>

<app-technical *ngIf="option === 'setup'"></app-technical>
<app-menu *ngIf="option === 'report'"></app-menu>

